@font-face {
  font-family: 'Gotham Pro';
  src: local('../fonts/GothamPro-Bold'),
      url('../fonts/GothamPro-Bold.woff2') format('woff2'),
      url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('../fonts/GothamPro-Medium'),
      url('../fonts/GothamPro-Medium.woff2') format('woff2'),
      url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

:root {
  --canvas-width: 2503px;
  --canvas-height: 810px;
  --frame-width: 1080px;

  --color-white: #ffffff;
  --color-green-dark: #00402B;
  --color-green-light: #006822;
  --color-green-fade: rgba(0, 104, 34, 0.8);
  --color-red-light: #D21A23;
  --color-red-dark: #97030a;

  --layer-level-1: 10;
  --layer-level-2: 9;
  --layer-level-3: 8;
}

.hidden {
  display: none!important;
}

.container {
  margin: 0 auto;
  min-width: 320px;
}

.banner {
  position: relative;
  width: 100%;
  /* max-width: var(--frame-width);
  min-width: 320px;
  height: var(--canvas-height); */
  color: var(--color-white);
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.4rem;
  font-family: 'Gotham Pro', sans-serif;
}

.title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.035rem;
  line-height: 1.1;
  margin: 0;
}

.description {
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 6%;
  margin-bottom: 8%;
}

.button {
  border-radius: 0.4rem;
  text-transform: uppercase;
  background-color: var(--color-red-light);
  appearance: none;
  border: none;
  font-size: 1.1rem;
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
  padding: 7% 8%;
}

.start-screen,
.finish-screen {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.start-screen {
  z-index: var(--layer-level-1);
  background-image: linear-gradient(90deg, var(--color-green-light) 0%, transparent 100%), url("../img/start-screen-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10% 0 12% 5%;
}

.start-screen__button {
  min-width: 85%;
}

.start-screen__product {
  display: inline-block;
  background-color: var(--color-green-dark);
  padding: 2% 2% 1%;
}

.start-screen__bacteriums {
  position: relative;
  width: 40%;
  height: 100%;
}

.start-screen__bacterium {
  position: absolute;
}

.start-screen__bacterium--purple {
  width: 48%;
  height: auto;
  left: -5%;
  top: 25%;
  transform: rotate(16deg);
}

.start-screen__bacterium--brown {
  width: 48%;
  height: auto;
  right: 5%;
  top: 0;
  transform: rotate(-20deg);
}

.start-screen__bacterium--salad-green {
  width: 93%;
  height: auto;
  transform: rotate(18deg);
}

.start-screen__bacterium-box {
  position: absolute;
  right: 9%;
  bottom: 12%;
  width: 55%;
  height: 33%;
  overflow: hidden;
}

.start-screen__text-block {
  width: 60%;
}

.game {
  z-index: var(--layer-level-2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: max-content;
  height: 100%;
  opacity: 0;
}

.game__screen {
  z-index: 3;
  position: absolute;
  flex-shrink: 0;
  height: 100%;
}

.dirt {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/dirty-room.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.dirt--fridge {
  clip-path: polygon(0 0, 17% 0, 17% 99%, 0% 100%);
}

.dirt--oven {
  clip-path: polygon(15% 36%, 28% 37%, 28% 96%, 15% 96%);
}

.dirt--dishes {
  clip-path: polygon(28.5% 35%, 28% 96%, 47% 96%, 47% 5%, 36% 5%, 35% 24%, 36% 26%, 35% 35%);
}

.dirt--plate {
  clip-path: polygon(17% 0, 16% 36%, 35% 37%, 36% 25%, 30% 8%, 25% 0);
}

.dirt--switcher {
  clip-path: polygon(48% 0, 58% 0, 58% 81%, 47% 81%);
}

.dirt--sink {
  clip-path: polygon(59% 0, 75% 0, 75% 79%, 59% 81%);
}

.dirt--door {
  clip-path: polygon(74% 0, 84% 0, 85% 100%, 74% 82%);
}

.popup {
  display: flex;
  position: absolute;
  align-items: center;
  width: 80%;
  height: 40%;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}

.fridge {
  position: relative;
  width: 40%;
  height: 100%;
}

.fridge__bacterium {
  width: 27%;
  margin-top: -3%;
  height: auto;
  cursor: pointer;
  flex-shrink: 0;
}

.popup__description {
  display: inline-flex;
  align-items: center;
  gap: 1.08rem;
  position: absolute;
  left: 23%;
  width: 90%;
  height: 65%;
  background-color: var(--color-green-fade);
  border-radius: 0.6rem;
  backdrop-filter: blur(5px);
  font-size: 0.88rem;
  line-height: 1.2;
  font-weight: 400;
  z-index: -1;
  opacity: 0;
  flex-shrink: 0;
}

.popup__icon {
  display: block;
  width: 0; 
  height: 0; 
  border-color: transparent;
  border-style: solid;
  border-width: 0.84rem;
  border-right-color: var(--color-white);
  flex-shrink: 0;
}

.foam {
  position: absolute;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

.onboarding {
  width: 42%;
  height: 100%;
}

.fridge__foam {
  left: -5%;
  top: 5%;
  width: 100%; 
  height: 60%;
  background-image: url("../img/foam-puddle-m.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.oven {
  width: 48%;
  height: 64%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.oven__foam {
  background-image: url("../img/foam-puddle-m.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.plate {
  position: absolute;
  width: 71.5%;
  height: 38%;
  left: 0;
  top: 0;
}

.plate__foam  {
  width: 90%;
  height: 80%;
  background-image: url("../img/foam-top-m.png");
  background-repeat: no-repeat;
  background-size: contain;
  left: 11%;
  top: 21%;
}

.dishes__foam {
  background-image: url("../img/foam-top-s.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 24%;
  left: 0;
  width: 100%;
  height: 15%;
}

.dishes__foam-puddle {
  background-image: url("../img/foam-puddle-m.png");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 0;
  width: 100%;
  height: 65%;
  transform: translateY(-57%);
}

.switcher {
  position: relative;
  width: 100%;
  height: 100%;
}

.switcher__foam {
  background-image: url("../img/foam-puddle-s.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 18%;
  left: 49%;
  width: 50%;
  height: 28%;
}

.sink__foam {
  background-image: url("../img/foam-top-m.png");
  background-repeat: no-repeat;
  background-size: contain;
  left: 2%;
  top: 17%;
  width: 100%;
  height: 20%;
}

.door__foam {
  background-image: url("../img/foam-puddle-m.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 75%;
  height: 60%;
  top: 14%;
  left: 43%;
}

.kitchen {
  width: 28%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15.2%;
}

.plate__bacterium {
  position: absolute;
  width: 34%;
  height: auto;
  left: 29%;
  top: 9%;
  cursor: pointer;
  opacity: 0;
}

.dishes {
  width: 56.2%;
  height: 100%;
  position: absolute;
  left: 48%;
}

.dishes__bacterium-box {
  width: 54%;
  height: 15.9%;
  position: absolute;
  left: 39%;
  top: 19.6%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.dishes__bacterium {
  width: 100%;
  height: auto;
}

.dishes__foam-box {
  position: absolute;
  top: 37%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.oven__bacterium {
  position: absolute;
  top: 18%;
  left: -24%;
  width: 60%;
  height: auto;
  cursor: pointer;
  opacity: 0;
}

.switcher__bacterium {
  position: absolute;
  top: 33%;
  left: 18%;
  width: 60%;
  height: auto;
  cursor: pointer;
}

.sink__bacterium-box {
  position: absolute;
  overflow: hidden;
  width: 65%;
  height: 20%;
  top: 11%;
  left: 26%;
  cursor: pointer;
  opacity: 0;
}

.sink__bacterium {
  width: 100%;
  height: auto;
}

.door__bacterium {
  position: absolute;
  bottom: 13%;
  left: -1%;
  width: 90%;
  height: auto;
  cursor: pointer;
  opacity: 0;
}

.switcher-wall {
  width: 16%;
  position: absolute;
  left: 43.2%;
  top: 0;
  opacity: 0;
}

.bathroom {
  position: absolute;
  left: 59%;
  width: 21.5%;
  height: 100%;
  display: flex;
}

.sink {
  position: relative;
  width: 50%;
  height: 100%;
  flex-shrink: 0;
}

.door {
  position: relative;
  width: 50%;
  height: 100%;
  flex-shrink: 0;
}

.timer {
  position: absolute;
  left: 3%;
  bottom: 5%;
  z-index: 100;
  width: 94%;
  height: 4.25%;
  border-radius: 0.6rem;
  border: 0.04rem solid var(--color-white);
  opacity: 0;
  pointer-events: none;

  &::after {
    content: '';
    display: block;
    background-image: url('../img/product.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14%;
    height: 1000%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.timer__bar {
  background-color: var(--color-green-light);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  margin-left: auto;
}

.finish-screen {
  z-index: var(--layer-level-3);
  align-items: center;
  justify-content: center;
  padding: 17% 5% 6%;
  background-image: url('../img/finish-bg-2x.webp');
  background-size: cover;
  opacity: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
}

.finish-screen__title {
  margin: 0;
}

.finish-screen__description {
  margin-top: 0;
  margin-bottom: 5%;
}

.finish-screen__loose-text {
  display: inline-block;
  margin-bottom: 1.5%;
  max-width: 60%;
  line-height: 1.2;
}

.finish-screen__text--win {

  .finish-screen__loose-text {
    display: none;
  }

  .finish-screen__title {
    font-size: 1.2rem;
  }

  .finish-screen__title span {
    font-size: 2rem;
  }

  .finish-screen__description {
    margin-top: 2%;
  }
}

.finish-screen__text {
  width: 68%;
}

.finish-screen__product {
  width: 35%;
  height: auto;
  margin-top: -8%;
}

 /* 100vh * 16 / 9 */
 @media (min-aspect-ratio: 16 / 9) {

  .container {
    width: 177.77vh;
    height: 100vh;
    aspect-ratio: 16 / 9;
  }

  .banner {
    width: 133.33vh;
    height: 100vh;
  }
}  

@media (max-aspect-ratio: 16 / 9) and (min-aspect-ratio: 4 / 3) {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .banner {
    width: 133.33vh;
    height: 100vh;
  }
} 

@media (max-aspect-ratio: 4 / 3) {
  .container {
    width: 100vw;
    height: 75vw;
  }

  .banner {
    width: 100vw; 
    height: 75vw;
  }

  .game {
    background-size: contain;
  }

  .dirt {
    background-size: contain;
  }
} 